div.App {
    align-items: center;
    text-align: center;
    margin-top: 10%;
    display: flex;
    justify-content: center;
}


.myCard {
    margin-top: 25px;
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.textTask{
    margin-top: 15px;
    float: left;
    margin-left: 20px;
}

div.interactions{
    margin-top: 10px;
    float: right;
    margin-left: 70px;
}

