div.App {
    align-items: center;
    text-align: center;
    margin-top: 10%;
    display: flex;
    justify-content: center;
}


.myCard {
    margin-top: 25px;
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.delb{
    float: right;
    margin-left: auto;
}